<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<title>Desafio 2</title>

</head>

<body>
	
	<h2>Novo projeto</h2>

	<form class="container" method="post">
	
		Employee Name: <input type="text" value="" name="employeeName" />
		<div class="row">
			<div class="input-field col s6">
				Employee Email: <input type="text" value="" name="employeeEmail" />
			</div>
			<div class="input-field col s3">
				Employee Skills: <input type="text" value="" name="employeeSkills" />
			</div>
			<div class="input-field col s3">
				Employee Team: <input type="text" value="" name="employeeTeam" />
			</div>
			<div class="input-field col s3">
				Planned Start Date: <input type="date" value="" name="plannedStart" />
			</div>
			<div class="input-field col s3">
				Planned End Date: <input type="date" value="" name="plannedEnd" />
			</div>
			<div class="input-field col s3">
				PM: <input type="text" value="" name="pm" />
			</div>
			<div class="input-field col s3">
				PM Email: <input type="text" value="" name="pmEmail" />
			</div>
			<div class="input-field col s3">
				PM Skills: <input type="text" value="" name="pmSkills" />
			</div>
			<div class="input-field col s3">
				Project Name: <input type="text" value="" name="projectName" />
			</div>
		</div>
		<button class="waves-effect waves-light btn" type="submit">Salvar</button>

	</form>

</body>


</html>